body {
  background: #e1f9ff;
  font-family: 'Nunito', sans-serif;
  color: #002b2e;
}
h1 {
  font-size: 2.8em;
}
h2 {
  color: #002b2e;
  font-size: 2em;
}
header {
  text-align: center;
}
.gameHeader {
  text-align: center;
  margin-top: 10%;
}
.game_ui {
  width: 60%;
  margin: 0 auto;
}
.game_ui #buttons {
  display: flex;
  padding-bottom: 30px;
}
.game_ui .btn {
  width: 30%;
  margin-right: 5%;
  border: 1px solid ##1cc7d7;
  border-radius: 5px;
  background: #93e8ff;
  text-align: center;
  -webkit-transition: all .07s ease;
    transition: all .07s ease;
}
.game_ui .btn:last-child {
  margin-right: 0;
}
.game_ui .btn.hovered {
  background: #adedff;
  border: 3px;
}
.game_ui .btn.active {
  background: #f3feff;
  border: 3px;
}
.btn i {
  color: #ffaa93;
  font-size: 70px;
  padding: 30px 0;
  transition: all .07s ease;
  -webkit-transition: all .09s ease;
}
.btn.hovered i {
  transform: scale(1.2);
  color: #fe6d5f;
}
div#result {
  display: none;
}
#result h2 {
  text-align: center;
  transition: all .07s ease;
  -webkit-transition: all .09s ease;
}
div#scoreBoard {
  display: none;
  /*display: flex;*/
  overflow-x: scoreBoard;
}
table {
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;

}
table thead {
  font-size: 24px;
  background: #93ffe0;
}
table tbody {
  background: #c6f3ff;
}
table thead th {
  padding: 20px 20px;
}
table, th, td {
  border: 1px solid #016069;
  padding: 10px 10px;
  width: 100px;
}
#gameStart {
  text-align: center;
}
#gameStart button {
  font-size: 1.5em;
  padding: 10px 20px;
  background-color: #93ffe0;
  border: 1px solid #47ffca;
  border-radius: 5px;
  margin-top: 40px;
}
#gameStart button:hover, #gameStart button:active {
  background-color: #47ffca;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background: #93b2ff;
}
